language: rust
rust:
- stable
cache:
- cargo
- directories:
  - book/linkcheck/
install:
- bash -x ci/install.sh
script:
- mdbook build
notifications:
  email:
    on_success: never

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_CI_TOKEN
  local-dir: book/html
  on:
    branch: master